apps.cloudtreasury.jwtkeyfile=jwtfile

apps.cloudtreasury.db=localhost/cloudtreasury
apps.cloudtreasury.db_user=postgres
apps.cloudtreasury.db_PASSWORD=postgres

NEXTAUTH_URL=http://localhost:3000/cloudtreasury/api/auth

MAIL_URL=smtps://larasendmailtest@gmail.com:PASSWORD@smtp.gmail.com
SERVER_ADMIN=user@domain.com
